
html, body {
    height: 100%;
}

body {
  background-color: #eee;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

div.container {
  background-color: #01BCD6;
  border-width: 0px;
  border-left-width: 10px;
  border-color: #00717F;
  border-style: solid;
  margin: 0px;
  padding-top: 10px;
  width: 300px;
  height: 100%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

div.version {
  /*background-color: #00717F;*/
  padding: 10px;
  padding-left: 20px;
  padding-top: 0px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}

div.nav-back a {
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
div.nav-back a:hover {
  text-decoration: none;
}

div.nav-file {
  /*background-color: #00717F;*/
  padding: 10px;
  padding-left: 20px;
  font-size: 20px;
}

div.nav-file a {
  text-decoration: none;
  color: #fff;
}

div.nav-file {
  box-shadow: 0 0px 0px rgba(0,0,0,0), 0 0px 0px rgba(0,0,0,0);
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

div.nav-file:hover {
  box-shadow: 0 4px 48px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
  z-index: 99;
  cursor: pointer;
}

div.title {
  position: absolute;
  top: 0px;
  margin-left: 350px;
  margin-top: 15px;
  color: #ccc;
  font-size: 64px;
}
